* {
    font-family: "Nunito" , sans-serif;
}

.home-main {
    padding: 20px;
    width: 60%;
    margin: auto;
}

.home-title {
    padding: 30px 0 20px 0;
    font-size: 40px;
    
}

.home-sub-title {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 0 0 25px 0;
    font-size: 25px;
}

.items-list {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    /* padding: 5px 5px 0 5px; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* .items-list {
    margin: auto;
    display: flex;
    justify-content: center;
} */

.details {
    display: inline-block;
    text-align: center;
}

.item-price {
    font-size: 25px;
}

.item-discount {
    font-size: 18px;
    color: #27AE60;
}

.items-image img {
    border-radius: 11px;
    width: 4rem;
    height: 4rem;
    position: relative;
    /* margin-right: 1rem; */
}

.company {
    display: flex;

}

div .item-brand-name {
    display: flex;
    margin: 20px;
    justify-content: center;
}

/* .items-image span {
    display: inline-block;
    font-size: 25px;
} */